<div style="text-align:center">
        {{#with assets}}
            <input type="button" class="btn-use-recipe" onclick="goToRecipeApp()"
                   data-toggle="modal"
                   data-aid="{{id}}"
                   data-type="{{type}}" value="{{t "Use This Recipe"}}">
            {{#attributes }}
                <!--secondary ES publisher's url-->
                <input id="redirectUrlToRecipeApp" type="hidden" value="https://localhost:9443/publisher/asts/dish/create_dish?resources={{overview_url}}"/>
            {{/attributes }}
        {{/with}}
</div>

<script>
    function goToRecipeApp() {
        var redirect = document.getElementById('redirectUrlToRecipeApp').value;
        window.location.href = redirect;
    }
</script>
